<div class="formwrapper">
<h1>Bottoms Up</h1>  

    <%= form_for(@drink) do |f| %>
    <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
        <% @drink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %><br>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'City, State', :class => 'capital' %><br>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location %><br>
      <%= f.select :location, [], :include_blank => true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :user_id, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :lat, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :long, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-default"%>
    </div>
    <% end %>

    <%= image_tag 'foursquare.png', class: 'foursquare', :width => '50%' %>
  </div>

  

  <script>
    x = navigator.geolocation;

    x.getCurrentPosition(success, failure);

    function success(position) {
      var myLat = position.coords.latitude
      var myLong = position.coords.longitude
      $('#drink_lat').val(myLat);
      $('#drink_long').val(myLong);

      $.ajax({
        url: '/venues',
        data: { lat: myLat, long: myLong  },
        dataType: 'json'
      }).done(function(data) {
        console.log(data);
      //<option value=""></option>
      $.each(data, function(index, venue){
        $('#drink_location').append('<option>' + venue.name + (venue.location.address ? (', ' +venue.location.address) : '')  +  '</option>');
      })
      // data.each {|v| venue_array.push("#{v["name"]} #{v["location"]["address"]}") }
    });
    }

    function failure() {
      $('#lat').html("<p>It didn't work, coordinates not available.</p>");
    }
  </script>