<% css_class = ""
  if params[:friends] || params[:user_id]
    css_class = "col-md-6 col-md-offset-3" 
  end
%>

<div class="container-fluid">
  <div class="row">
    <% @drinks.each do |drink| %>

    <div class="col-md-4 col-sm-6 col-sx-12 <%= css_class %>">
      <%= image_tag drink.image_url(:thumb), :width => '100%' %>

      <div class="image-info clearfix">
        <h2><%= drink.name %></h2>
        <p>
          <%= drink.location %><br>
          <%= drink.created_at %><br>
          <%= link_to 'Show', drink, :class => 'info' %>
        </p>
      </div>

    </div>
    <% end %>
  </div>
</div>