<body class="drinkspage"></body>
<div class="formwrapper drinksshow">

<h1 class="drinknamee"> <%= @drink.name %> </h1>

<p>
  <%= image_tag @drink.image_url(:thumb) %>
</p>

<div class="drink-deets">
<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@drink.price, :unit => "$") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @drink.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drink.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @drink.lat %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @drink.long %>
</p>
</div>

<%= link_to 'Edit', edit_drink_path(@drink), :class => 'btn btn-default' %> &nbsp;
<%= link_to 'Back', drinks_path, :class => 'btn btn-default' %>

</body>
