<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @drink.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @drink.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @drink.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drink.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @drink.user_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @drink.lat %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @drink.long %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
