<!-- <p id="notice"><%= notice %></p>
 -->
 <body class="drinkspage"></body>
 <div class="formwrapper">

 <h1 class="profile"> <%= @user.username %>'s profile </h1>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<h2 class="follow">Following</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h link_to friendship.friend.username, user_path(friendship.friend_id) %>
      (<%= link_to 'remove', friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h2 class="follow">Followers</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li>
      <%=h link_to user.username, user_path(friendship.user_id) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-default' %>
<%= link_to 'Back', users_path, :class => 'btn btn-default' %><br><br>

</div>
