<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<h2>Following</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h link_to friendship.friend.username, @user %>
      (<%= link_to 'remove', friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h2>Followers</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li>
      <%=h user.username %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
