<!DOCTYPE html>
<html>
<head>
  <title>CheersMate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
  <%= render 'layouts/header' %>
</header>

<%= yield %>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <p><%= link_to 'About CheersMate', '/about' %></p>
    <p>Made with <span class="glyphicon glyphicon-heart" style="color:#ec008c;"></span> in Sydney.</p>
    <p>&copy; 2014. lukrudesign.</p>
  </div>
</nav>

</body>
</html>